<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password?</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="conatiner-form-reset-password">
  <form *ngIf="!isEmailSent" class="form-reset-password"  [formGroup]="form">
    <h1 class="h1-reset-password">Olvidaste tu contraseña?</h1>
    <input class="input-reset-password" type="email" id="email" formControlName="email">
    <div class="button-container-reset-password">
      <button class="button-reset-password" (click)="sendEmail()">
        Enviar
      </button>
    </div>
  </form>
 
  <div class="Response-container" *ngIf="isEmailSent"> 
    <p class="Response">
      {{Response}}
    </p>

  </div>
</ion-content>
