.conatiner-form-reset-password{
    display: flex;
    flex-direction: column;
}

.form-reset-password{
    margin: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-reset-password{
    padding: 20px;
    font-size: 20px;
}

.input-reset-password{
    margin-top: 10px;
    width: 90%;
    height: 40px;
    background-color: #96A4BB;
    border: none;
}

.button-container-reset-password{
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.button-reset-password{
    background: none;
    color: #000;
    font-size: 20px;
}

.Response-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Response{
    margin: 0;
    padding: 10px;
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    background-color: #96A4BB;
    border: 2px;
    border-radius: 10px;
}