<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password?</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="conatiner-form-reset-password">
  <form class="form-reset-password">
    <h1 class="h1-reset-password">Forgot password?</h1>
    <input class="input-reset-password" type="email" id="email">
  </form>
  <div class="button-container-reset-password">
    <button class="button-reset-password">
      Send email 
    </button>
  </div>
</ion-content>
