<ion-content [fullscreen]="true">
  <div style="height: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Bienvenida Mary</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="segmentdiv">
            <ion-segment value="custom" mode="ios" (ionChange)="segmentChanged($event)">
              <ion-segment-button value="custom">
                <ion-label>Day</ion-label>
              </ion-segment-button>
              <ion-segment-button value="segment">
                <ion-label>Week</ion-label>
              </ion-segment-button>
              <ion-segment-button value="buttons">
                <ion-label>Month</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="svgclass-text">
            <span>{{countClases}}</span>
            <label>Clases</label>
          </div>
          <svg class="svgclass" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200"
            fill="none">
            <path
              d="M200 100C200 155.228 155.228 200 100 200C44.7715 200 0 155.228 0 100C0 44.7715 44.7715 0 100 0C155.228 0 200 44.7715 200 100Z"
              fill="#808FB0" />
            <circle cx="99.5919" cy="99.5918" r="89.7959" fill="white" />
          </svg>
          <div class="body-dash">
            <ion-list>
              <ion-item-sliding *ngFor="let clase of clases">
                <ion-item>
                  <ion-card>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <div class="ion-text-left">
                            <label>{{clase.fecha| date: 'hh:MM'}}</label><br>
                            <label class="text-xs">({{clase.tiempo}} minutos)</label>
                          </div>
                        </ion-col>
                        <ion-col size="8" class="ion-text-left"> <ion-card-header>

                            <ion-card-title>{{clase.clase}}</ion-card-title>
                            <ion-card-subtitle>{{clase.instructor}}</ion-card-subtitle>
                          </ion-card-header></ion-col>
                        <ion-col>
                          <div class="ion-text-right">
                            {{clase.fecha| date: 'dd/MM/yy'}}
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid> 
                    <ion-item-options>
                      <ion-item-option color="danger">Cancel</ion-item-option>
                    </ion-item-options>
                  </ion-card>
                </ion-item> 
              </ion-item-sliding>  
            </ion-list>
          </div>
        </ion-col> 
      </ion-row>
    </ion-grid>
  </div>
</ion-content>