<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>student-details</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-center">
        <h1>{{student.name+' '+ student.apellido}}</h1>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>

            <ion-card-title class="ion-text-center">Informaci&oacute;n</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label name="inscripcion">Inscripci&oacute;n
                  <br><ion-note>{{student.fechainscripcion | date:'dd/MM/yy'}}</ion-note>

                </ion-label>

                <ion-toggle (ionChange)="toggleChange($event)" [checked]="esInscrito"></ion-toggle>


              </ion-item>

              <ion-item>
                <ion-label>Sesiones
                  <br><ion-note>{{ctotal }} de {{sesionesTotalesVigentes}}</ion-note>
                </ion-label>
                <ion-icon (click)="mostrarPaquetesModal()" slot="end" name="add-circle"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-progress-bar type="determinate" [value]="ptotal"></ion-progress-bar>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <!-- <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title></ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header> -->
      <ion-content class="ion-padding ion-text-center">
        <h3> Agregar Sesiones</h3>
        <ion-title>Paquetes</ion-title>

        <ion-list>
          <ion-radio-group [(ngModel)]="paqueteSel" name="auto" value="custom">
            <ion-item (click)="paqueteSeleccionado(paquete)" *ngFor="let paquete of paquetes">

              <ion-label>{{paquete.sesiones}} {{paquete.sesiones == 1? 'Sesion':'Sesiones' }}</ion-label>
              <ion-note slot="end">{{paquete.costo| currency}}</ion-note>
              <ion-radio slot="start" [value]="paquete" checked="checked"></ion-radio>
            </ion-item>
            <ion-item (click)="paqueteSeleccionado(null)">
              <ion-label>Custom</ion-label>
              <ion-input min="0" max="50" slot="end" [(ngModel)]="cSesiones" [label]="cSesiones >1? 'Sesiones':'Sesion'"
                type="number"></ion-input>
              <ion-radio slot="start" [value]="null"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-start">Vigencia</ion-card-subtitle>

          </ion-card-header>
          <ion-card-content>
            <ion-item datetime="fin">
              <ion-label>Del</ion-label>

              <ion-datetime-button presentation="date" preferWheel="false" datetime="ini"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime presentation="date" [(ngModel)]="fechaInicio" preferWheel="false"
                    id="ini"></ion-datetime>
                </ng-template>
              </ion-modal>
              <ion-label class="ion-text-center"> al </ion-label>
              <ion-datetime-button datetime="fin" presentation="date" preferWheel="false"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime presentation="date" preferWheel="false" id="fin" display-format="DD/MM/YYYY"
                    display-mode="modal" [(ngModel)]="fechaFinal"></ion-datetime>
                </ng-template>
              </ion-modal>
              <ion-icon slot="end" name="calendar"></ion-icon>

            </ion-item>

            <ion-item *ngIf="paqueteSel==null">

              <ion-input slot="end" type="number" class="ion-text-end" placeholder="$0.00"></ion-input>
              <ion-icon name="card" slot="end"></ion-icon>

            </ion-item>
          </ion-card-content>
        </ion-card>
        <footer class="ion-text-end">

          <ion-button color="danger" (click)="cancel()" shape="square">
            Cancelar
          </ion-button>
          <ion-button (click)="confirm()">
            Agregar
          </ion-button>

        </footer>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>