form{
    padding: 20px;
}

.svg-container {
    overflow-y: hidden;
    float: left;
    // top: 500px;
    left: 0;
    width: 100%;
    // height: 100%;
    z-index: -1;
    margin-top: 30px;
    margin-bottom: 50px;
    // justify-content: center;
    // align-items: center;
    // display: flex;
    height: 50vh; 
    background-image: url("../../../../assets/shapes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-img {
    margin: 20% 10% 35% 10%;
}

:host {
    --background: transparent;
}