<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div>
    <ion-img src="../../../../assets/images/splash.png">

    </ion-img>
  </div>
  <div class="div-img">
    <form [formGroup]="form" (ngSubmit)="login()">
      <div>
        <ion-input class="input-email-password" labelPlacement="stacked" label="Correo Electrónico" type="email"  formControlName="email">
      </ion-input>
      </div>

      <div>
        <ion-input 
        class="input-email-password" labelPlacement="stacked" label="Contraseña" type="password" formControlName="password"></ion-input>
      </div>
      <div class="ion-text-center">
        <button type="submit" class="btnTransparent" expand="full">
          <h2 class="h2-login">LOGIN</h2>
        </button>
      </div>
    </form> 
    <div>
      <ion-grid>
        <ion-row>
          <ion-col> 
            <ion-label class="signup-resetpassword">
              Nuevo aqui?
            </ion-label>
          </ion-col>
          <ion-col>

          </ion-col>

        </ion-row>
        <ion-row class="ionrow">
          <ion-col>
            <ion-label>
              <a class="signup-resetpassword" [routerLink]="['/signup']" routerLinkActive="router-link-active">
                Crea una cuenta
              </a>
            </ion-label>
          </ion-col>
          <ion-col>
            <a class="signup-resetpassword" [routerLink]="['/reset-password']" routerLinkActive="router-link-active">
              Olvidaste tu Contraseña?
            </a>
          </ion-col>
    
        </ion-row>
      </ion-grid>

    </div>

  </div>
  <ion-footer class="ion-text-center">
    Pilates by Mary {{Year}} app version 1.0
  </ion-footer>
</ion-content>